.anonymox-pickservice-categorylabel {
	font-size:9px;
	margin-bottom:0px
}

.anonymox-pickservice-categorylabel_red {
	font-size:9px;
	margin-bottom:0px;
	border-bottom: 1px dashed #ff0000;
}

.popup-notification-icon {
  list-style-image: url("chrome://anonymox/skin/icon64.png");
}

.attribbox{
	margin-top:-1px;
	margin-bottom:-1px;
}

#country-all:before, #country-ad:before,#country-ae:before,#country-af:before,#country-ag:before,#country-ai:before,#country-al:before,#country-am:before,#country-an:before,#country-ao:before,#country-ar:before,#country-as:before,#country-at:before,#country-au:before,#country-aw:before,#country-ax:before,#country-az:before,#country-ba:before,#country-bb:before,#country-bd:before,#country-be:before,#country-bf:before,#country-bg:before,#country-bh:before,#country-bi:before,#country-bj:before,#country-bm:before,#country-bn:before,#country-bo:before,#country-br:before,#country-bs:before,#country-bt:before,#country-bv:before,#country-bw:before,#country-by:before,#country-bz:before,#country-ca:before,#country-cc:before,#country-cd:before,#country-cf:before,#country-cg:before,#country-ch:before,#country-ci:before,#country-ck:before,#country-cl:before,#country-cm:before,#country-cn:before,#country-co:before,#country-cr:before,#country-cs:before,#country-cu:before,#country-cv:before,#country-cx:before,#country-cy:before,#country-cz:before,#country-de:before,#country-dj:before,#country-dk:before,#country-dm:before,#country-do:before,#country-dz:before,#country-ec:before,#country-ee:before,#country-eg:before,#country-eh:before,#country-er:before,#country-es:before,#country-et:before,#country-fa:before,#country-fi:before,#country-fj:before,#country-fk:before,#country-fm:before,#country-fo:before,#country-fr:before,#country-ga:before,#country-gb:before,#country-gd:before,#country-ge:before,#country-gf:before,#country-gh:before,#country-gi:before,#country-gl:before,#country-gm:before,#country-gn:before,#country-gp:before,#country-gq:before,#country-gr:before,#country-gs:before,#country-gt:before,#country-gu:before,#country-gw:before,#country-gy:before,#country-hk:before,#country-hm:before,#country-hn:before,#country-hr:before,#country-ht:before,#country-hu:before,#country-id:before,#country-ie:before,#country-il:before,#country-in:before,#country-io:before,#country-iq:before,#country-ir:before,#country-is:before,#country-it:before,#country-jm:before,#country-jo:before,#country-jp:before,#country-ke:before,#country-kg:before,#country-kh:before,#country-ki:before,#country-km:before,#country-kn:before,#country-kp:before,#country-kr:before,#country-kw:before,#country-ky:before,#country-kz:before,#country-la:before,#country-lb:before,#country-lc:before,#country-li:before,#country-lk:before,#country-lr:before,#country-ls:before,#country-lt:before,#country-lu:before,#country-lv:before,#country-ly:before,#country-ma:before,#country-mc:before,#country-md:before,#country-me:before,#country-mg:before,#country-mh:before,#country-mk:before,#country-ml:before,#country-mm:before,#country-mn:before,#country-mo:before,#country-mp:before,#country-mq:before,#country-mr:before,#country-ms:before,#country-mt:before,#country-mu:before,#country-mv:before,#country-mw:before,#country-mx:before,#country-my:before,#country-mz:before,#country-na:before,#country-nc:before,#country-ne:before,#country-nf:before,#country-ng:before,#country-ni:before,#country-nl:before,#country-no:before,#country-np:before,#country-nr:before,#country-nu:before,#country-nz:before,#country-om:before,#country-pa:before,#country-pe:before,#country-pf:before,#country-pg:before,#country-ph:before,#country-pk:before,#country-pl:before,#country-pm:before,#country-pn:before,#country-pr:before,#country-ps:before,#country-pt:before,#country-pw:before,#country-py:before,#country-qa:before,#country-re:before,#country-ro:before,#country-rs:before,#country-ru:before,#country-rw:before,#country-sa:before,#country-sb:before,#country-sc:before,#country-sd:before,#country-se:before,#country-sg:before,#country-sh:before,#country-si:before,#country-sj:before,#country-sk:before,#country-sl:before,#country-sm:before,#country-sn:before,#country-so:before,#country-sr:before,#country-st:before,#country-sv:before,#country-sy:before,#country-sz:before,#country-tc:before,#country-td:before,#country-tf:before,#country-tg:before,#country-th:before,#country-tj:before,#country-tk:before,#country-tl:before,#country-tm:before,#country-tn:before,#country-to:before,#country-tr:before,#country-tt:before,#country-tv:before,#country-tw:before,#country-tz:before,#country-ua:before,#country-ug:before,#country-uk:before,#country-um:before,#country-us:before,#country-uy:before,#country-uz:before,#country-va:before,#country-vc:before,#country-ve:before,#country-vg:before,#country-vi:before,#country-vn:before,#country-vu:before,#country-wf:before,#country-wo:before,#country-ws:before,#country-ye:before,#country-yt:before,#country-za:before,#country-zm:before,#country-zw:before{
    padding-right: 5px;
}

#country-all:before {
    content: url("chrome://anonymox/skin/flags/world.png");
	vertical-align: top;
}

#country-ad:before{content: url("chrome://anonymox/skin/flags/ad.png");}
#country-ae:before{content: url("chrome://anonymox/skin/flags/ae.png");}
#country-af:before{content: url("chrome://anonymox/skin/flags/af.png");}
#country-ag:before{content: url("chrome://anonymox/skin/flags/ag.png");}
#country-ai:before{content: url("chrome://anonymox/skin/flags/ai.png");}
#country-al:before{content: url("chrome://anonymox/skin/flags/al.png");}
#country-am:before{content: url("chrome://anonymox/skin/flags/am.png");}
#country-an:before{content: url("chrome://anonymox/skin/flags/an.png");}
#country-ao:before{content: url("chrome://anonymox/skin/flags/ao.png");}
#country-ar:before{content: url("chrome://anonymox/skin/flags/ar.png");}
#country-as:before{content: url("chrome://anonymox/skin/flags/as.png");}
#country-at:before{content: url("chrome://anonymox/skin/flags/at.png");}
#country-au:before{content: url("chrome://anonymox/skin/flags/au.png");}
#country-aw:before{content: url("chrome://anonymox/skin/flags/aw.png");}
#country-ax:before{content: url("chrome://anonymox/skin/flags/ax.png");}
#country-az:before{content: url("chrome://anonymox/skin/flags/az.png");}
#country-ba:before{content: url("chrome://anonymox/skin/flags/ba.png");}
#country-bb:before{content: url("chrome://anonymox/skin/flags/bb.png");}
#country-bd:before{content: url("chrome://anonymox/skin/flags/bd.png");}
#country-be:before{content: url("chrome://anonymox/skin/flags/be.png");}
#country-bf:before{content: url("chrome://anonymox/skin/flags/bf.png");}
#country-bg:before{content: url("chrome://anonymox/skin/flags/bg.png");}
#country-bh:before{content: url("chrome://anonymox/skin/flags/bh.png");}
#country-bi:before{content: url("chrome://anonymox/skin/flags/bi.png");}
#country-bj:before{content: url("chrome://anonymox/skin/flags/bj.png");}
#country-bm:before{content: url("chrome://anonymox/skin/flags/bm.png");}
#country-bn:before{content: url("chrome://anonymox/skin/flags/bn.png");}
#country-bo:before{content: url("chrome://anonymox/skin/flags/bo.png");}
#country-br:before{content: url("chrome://anonymox/skin/flags/br.png");}
#country-bs:before{content: url("chrome://anonymox/skin/flags/bs.png");}
#country-bt:before{content: url("chrome://anonymox/skin/flags/bt.png");}
#country-bv:before{content: url("chrome://anonymox/skin/flags/bv.png");}
#country-bw:before{content: url("chrome://anonymox/skin/flags/bw.png");}
#country-by:before{content: url("chrome://anonymox/skin/flags/by.png");}
#country-bz:before{content: url("chrome://anonymox/skin/flags/bz.png");}
#country-ca:before{content: url("chrome://anonymox/skin/flags/ca.png");}
#country-cc:before{content: url("chrome://anonymox/skin/flags/cc.png");}
#country-cd:before{content: url("chrome://anonymox/skin/flags/cd.png");}
#country-cf:before{content: url("chrome://anonymox/skin/flags/cf.png");}
#country-cg:before{content: url("chrome://anonymox/skin/flags/cg.png");}
#country-ch:before{content: url("chrome://anonymox/skin/flags/ch.png");}
#country-ci:before{content: url("chrome://anonymox/skin/flags/ci.png");}
#country-ck:before{content: url("chrome://anonymox/skin/flags/ck.png");}
#country-cl:before{content: url("chrome://anonymox/skin/flags/cl.png");}
#country-cm:before{content: url("chrome://anonymox/skin/flags/cm.png");}
#country-cn:before{content: url("chrome://anonymox/skin/flags/cn.png");}
#country-co:before{content: url("chrome://anonymox/skin/flags/co.png");}
#country-cr:before{content: url("chrome://anonymox/skin/flags/cr.png");}
#country-cs:before{content: url("chrome://anonymox/skin/flags/cs.png");}
#country-cu:before{content: url("chrome://anonymox/skin/flags/cu.png");}
#country-cv:before{content: url("chrome://anonymox/skin/flags/cv.png");}
#country-cx:before{content: url("chrome://anonymox/skin/flags/cx.png");}
#country-cy:before{content: url("chrome://anonymox/skin/flags/cy.png");}
#country-cz:before{content: url("chrome://anonymox/skin/flags/cz.png");}
#country-de:before{content: url("chrome://anonymox/skin/flags/de.png");}
#country-dj:before{content: url("chrome://anonymox/skin/flags/dj.png");}
#country-dk:before{content: url("chrome://anonymox/skin/flags/dk.png");}
#country-dm:before{content: url("chrome://anonymox/skin/flags/dm.png");}
#country-do:before{content: url("chrome://anonymox/skin/flags/do.png");}
#country-dz:before{content: url("chrome://anonymox/skin/flags/dz.png");}
#country-ec:before{content: url("chrome://anonymox/skin/flags/ec.png");}
#country-ee:before{content: url("chrome://anonymox/skin/flags/ee.png");}
#country-eg:before{content: url("chrome://anonymox/skin/flags/eg.png");}
#country-eh:before{content: url("chrome://anonymox/skin/flags/eh.png");}
#country-er:before{content: url("chrome://anonymox/skin/flags/er.png");}
#country-es:before{content: url("chrome://anonymox/skin/flags/es.png");}
#country-et:before{content: url("chrome://anonymox/skin/flags/et.png");}
#country-fa:before{content: url("chrome://anonymox/skin/flags/fa.png");}
#country-fi:before{content: url("chrome://anonymox/skin/flags/fi.png");}
#country-fj:before{content: url("chrome://anonymox/skin/flags/fj.png");}
#country-fk:before{content: url("chrome://anonymox/skin/flags/fk.png");}
#country-fm:before{content: url("chrome://anonymox/skin/flags/fm.png");}
#country-fo:before{content: url("chrome://anonymox/skin/flags/fo.png");}
#country-fr:before{content: url("chrome://anonymox/skin/flags/fr.png");}
#country-ga:before{content: url("chrome://anonymox/skin/flags/ga.png");}
#country-gb:before{content: url("chrome://anonymox/skin/flags/gb.png");}
#country-gd:before{content: url("chrome://anonymox/skin/flags/gd.png");}
#country-ge:before{content: url("chrome://anonymox/skin/flags/ge.png");}
#country-gf:before{content: url("chrome://anonymox/skin/flags/gf.png");}
#country-gh:before{content: url("chrome://anonymox/skin/flags/gh.png");}
#country-gi:before{content: url("chrome://anonymox/skin/flags/gi.png");}
#country-gl:before{content: url("chrome://anonymox/skin/flags/gl.png");}
#country-gm:before{content: url("chrome://anonymox/skin/flags/gm.png");}
#country-gn:before{content: url("chrome://anonymox/skin/flags/gn.png");}
#country-gp:before{content: url("chrome://anonymox/skin/flags/gp.png");}
#country-gq:before{content: url("chrome://anonymox/skin/flags/gq.png");}
#country-gr:before{content: url("chrome://anonymox/skin/flags/gr.png");}
#country-gs:before{content: url("chrome://anonymox/skin/flags/gs.png");}
#country-gt:before{content: url("chrome://anonymox/skin/flags/gt.png");}
#country-gu:before{content: url("chrome://anonymox/skin/flags/gu.png");}
#country-gw:before{content: url("chrome://anonymox/skin/flags/gw.png");}
#country-gy:before{content: url("chrome://anonymox/skin/flags/gy.png");}
#country-hk:before{content: url("chrome://anonymox/skin/flags/hk.png");}
#country-hm:before{content: url("chrome://anonymox/skin/flags/hm.png");}
#country-hn:before{content: url("chrome://anonymox/skin/flags/hn.png");}
#country-hr:before{content: url("chrome://anonymox/skin/flags/hr.png");}
#country-ht:before{content: url("chrome://anonymox/skin/flags/ht.png");}
#country-hu:before{content: url("chrome://anonymox/skin/flags/hu.png");}
#country-id:before{content: url("chrome://anonymox/skin/flags/id.png");}
#country-ie:before{content: url("chrome://anonymox/skin/flags/ie.png");}
#country-il:before{content: url("chrome://anonymox/skin/flags/il.png");}
#country-in:before{content: url("chrome://anonymox/skin/flags/in.png");}
#country-io:before{content: url("chrome://anonymox/skin/flags/io.png");}
#country-iq:before{content: url("chrome://anonymox/skin/flags/iq.png");}
#country-ir:before{content: url("chrome://anonymox/skin/flags/ir.png");}
#country-is:before{content: url("chrome://anonymox/skin/flags/is.png");}
#country-it:before{content: url("chrome://anonymox/skin/flags/it.png");}
#country-jm:before{content: url("chrome://anonymox/skin/flags/jm.png");}
#country-jo:before{content: url("chrome://anonymox/skin/flags/jo.png");}
#country-jp:before{content: url("chrome://anonymox/skin/flags/jp.png");}
#country-ke:before{content: url("chrome://anonymox/skin/flags/ke.png");}
#country-kg:before{content: url("chrome://anonymox/skin/flags/kg.png");}
#country-kh:before{content: url("chrome://anonymox/skin/flags/kh.png");}
#country-ki:before{content: url("chrome://anonymox/skin/flags/ki.png");}
#country-km:before{content: url("chrome://anonymox/skin/flags/km.png");}
#country-kn:before{content: url("chrome://anonymox/skin/flags/kn.png");}
#country-kp:before{content: url("chrome://anonymox/skin/flags/kp.png");}
#country-kr:before{content: url("chrome://anonymox/skin/flags/kr.png");}
#country-kw:before{content: url("chrome://anonymox/skin/flags/kw.png");}
#country-ky:before{content: url("chrome://anonymox/skin/flags/ky.png");}
#country-kz:before{content: url("chrome://anonymox/skin/flags/kz.png");}
#country-la:before{content: url("chrome://anonymox/skin/flags/la.png");}
#country-lb:before{content: url("chrome://anonymox/skin/flags/lb.png");}
#country-lc:before{content: url("chrome://anonymox/skin/flags/lc.png");}
#country-li:before{content: url("chrome://anonymox/skin/flags/li.png");}
#country-lk:before{content: url("chrome://anonymox/skin/flags/lk.png");}
#country-lr:before{content: url("chrome://anonymox/skin/flags/lr.png");}
#country-ls:before{content: url("chrome://anonymox/skin/flags/ls.png");}
#country-lt:before{content: url("chrome://anonymox/skin/flags/lt.png");}
#country-lu:before{content: url("chrome://anonymox/skin/flags/lu.png");}
#country-lv:before{content: url("chrome://anonymox/skin/flags/lv.png");}
#country-ly:before{content: url("chrome://anonymox/skin/flags/ly.png");}
#country-ma:before{content: url("chrome://anonymox/skin/flags/ma.png");}
#country-mc:before{content: url("chrome://anonymox/skin/flags/mc.png");}
#country-md:before{content: url("chrome://anonymox/skin/flags/md.png");}
#country-me:before{content: url("chrome://anonymox/skin/flags/me.png");}
#country-mg:before{content: url("chrome://anonymox/skin/flags/mg.png");}
#country-mh:before{content: url("chrome://anonymox/skin/flags/mh.png");}
#country-mk:before{content: url("chrome://anonymox/skin/flags/mk.png");}
#country-ml:before{content: url("chrome://anonymox/skin/flags/ml.png");}
#country-mm:before{content: url("chrome://anonymox/skin/flags/mm.png");}
#country-mn:before{content: url("chrome://anonymox/skin/flags/mn.png");}
#country-mo:before{content: url("chrome://anonymox/skin/flags/mo.png");}
#country-mp:before{content: url("chrome://anonymox/skin/flags/mp.png");}
#country-mq:before{content: url("chrome://anonymox/skin/flags/mq.png");}
#country-mr:before{content: url("chrome://anonymox/skin/flags/mr.png");}
#country-ms:before{content: url("chrome://anonymox/skin/flags/ms.png");}
#country-mt:before{content: url("chrome://anonymox/skin/flags/mt.png");}
#country-mu:before{content: url("chrome://anonymox/skin/flags/mu.png");}
#country-mv:before{content: url("chrome://anonymox/skin/flags/mv.png");}
#country-mw:before{content: url("chrome://anonymox/skin/flags/mw.png");}
#country-mx:before{content: url("chrome://anonymox/skin/flags/mx.png");}
#country-my:before{content: url("chrome://anonymox/skin/flags/my.png");}
#country-mz:before{content: url("chrome://anonymox/skin/flags/mz.png");}
#country-na:before{content: url("chrome://anonymox/skin/flags/na.png");}
#country-nc:before{content: url("chrome://anonymox/skin/flags/nc.png");}
#country-ne:before{content: url("chrome://anonymox/skin/flags/ne.png");}
#country-nf:before{content: url("chrome://anonymox/skin/flags/nf.png");}
#country-ng:before{content: url("chrome://anonymox/skin/flags/ng.png");}
#country-ni:before{content: url("chrome://anonymox/skin/flags/ni.png");}
#country-nl:before{content: url("chrome://anonymox/skin/flags/nl.png");}
#country-no:before{content: url("chrome://anonymox/skin/flags/no.png");}
#country-np:before{content: url("chrome://anonymox/skin/flags/np.png");}
#country-nr:before{content: url("chrome://anonymox/skin/flags/nr.png");}
#country-nu:before{content: url("chrome://anonymox/skin/flags/nu.png");}
#country-nz:before{content: url("chrome://anonymox/skin/flags/nz.png");}
#country-om:before{content: url("chrome://anonymox/skin/flags/om.png");}
#country-pa:before{content: url("chrome://anonymox/skin/flags/pa.png");}
#country-pe:before{content: url("chrome://anonymox/skin/flags/pe.png");}
#country-pf:before{content: url("chrome://anonymox/skin/flags/pf.png");}
#country-pg:before{content: url("chrome://anonymox/skin/flags/pg.png");}
#country-ph:before{content: url("chrome://anonymox/skin/flags/ph.png");}
#country-pk:before{content: url("chrome://anonymox/skin/flags/pk.png");}
#country-pl:before{content: url("chrome://anonymox/skin/flags/pl.png");}
#country-pm:before{content: url("chrome://anonymox/skin/flags/pm.png");}
#country-pn:before{content: url("chrome://anonymox/skin/flags/pn.png");}
#country-pr:before{content: url("chrome://anonymox/skin/flags/pr.png");}
#country-ps:before{content: url("chrome://anonymox/skin/flags/ps.png");}
#country-pt:before{content: url("chrome://anonymox/skin/flags/pt.png");}
#country-pw:before{content: url("chrome://anonymox/skin/flags/pw.png");}
#country-py:before{content: url("chrome://anonymox/skin/flags/py.png");}
#country-qa:before{content: url("chrome://anonymox/skin/flags/qa.png");}
#country-re:before{content: url("chrome://anonymox/skin/flags/re.png");}
#country-ro:before{content: url("chrome://anonymox/skin/flags/ro.png");}
#country-rs:before{content: url("chrome://anonymox/skin/flags/rs.png");}
#country-ru:before{content: url("chrome://anonymox/skin/flags/ru.png");}
#country-rw:before{content: url("chrome://anonymox/skin/flags/rw.png");}
#country-sa:before{content: url("chrome://anonymox/skin/flags/sa.png");}
#country-sb:before{content: url("chrome://anonymox/skin/flags/sb.png");}
#country-sc:before{content: url("chrome://anonymox/skin/flags/sc.png");}
#country-sd:before{content: url("chrome://anonymox/skin/flags/sd.png");}
#country-se:before{content: url("chrome://anonymox/skin/flags/se.png");}
#country-sg:before{content: url("chrome://anonymox/skin/flags/sg.png");}
#country-sh:before{content: url("chrome://anonymox/skin/flags/sh.png");}
#country-si:before{content: url("chrome://anonymox/skin/flags/si.png");}
#country-sj:before{content: url("chrome://anonymox/skin/flags/sj.png");}
#country-sk:before{content: url("chrome://anonymox/skin/flags/sk.png");}
#country-sl:before{content: url("chrome://anonymox/skin/flags/sl.png");}
#country-sm:before{content: url("chrome://anonymox/skin/flags/sm.png");}
#country-sn:before{content: url("chrome://anonymox/skin/flags/sn.png");}
#country-so:before{content: url("chrome://anonymox/skin/flags/so.png");}
#country-sr:before{content: url("chrome://anonymox/skin/flags/sr.png");}
#country-st:before{content: url("chrome://anonymox/skin/flags/st.png");}
#country-sv:before{content: url("chrome://anonymox/skin/flags/sv.png");}
#country-sy:before{content: url("chrome://anonymox/skin/flags/sy.png");}
#country-sz:before{content: url("chrome://anonymox/skin/flags/sz.png");}
#country-tc:before{content: url("chrome://anonymox/skin/flags/tc.png");}
#country-td:before{content: url("chrome://anonymox/skin/flags/td.png");}
#country-tf:before{content: url("chrome://anonymox/skin/flags/tf.png");}
#country-tg:before{content: url("chrome://anonymox/skin/flags/tg.png");}
#country-th:before{content: url("chrome://anonymox/skin/flags/th.png");}
#country-tj:before{content: url("chrome://anonymox/skin/flags/tj.png");}
#country-tk:before{content: url("chrome://anonymox/skin/flags/tk.png");}
#country-tl:before{content: url("chrome://anonymox/skin/flags/tl.png");}
#country-tm:before{content: url("chrome://anonymox/skin/flags/tm.png");}
#country-tn:before{content: url("chrome://anonymox/skin/flags/tn.png");}
#country-to:before{content: url("chrome://anonymox/skin/flags/to.png");}
#country-tr:before{content: url("chrome://anonymox/skin/flags/tr.png");}
#country-tt:before{content: url("chrome://anonymox/skin/flags/tt.png");}
#country-tv:before{content: url("chrome://anonymox/skin/flags/tv.png");}
#country-tw:before{content: url("chrome://anonymox/skin/flags/tw.png");}
#country-tz:before{content: url("chrome://anonymox/skin/flags/tz.png");}
#country-ua:before{content: url("chrome://anonymox/skin/flags/ua.png");}
#country-ug:before{content: url("chrome://anonymox/skin/flags/ug.png");}
#country-uk:before{content: url("chrome://anonymox/skin/flags/uk.png");}
#country-um:before{content: url("chrome://anonymox/skin/flags/um.png");}
#country-us:before{content: url("chrome://anonymox/skin/flags/us.png");}
#country-uy:before{content: url("chrome://anonymox/skin/flags/uy.png");}
#country-uz:before{content: url("chrome://anonymox/skin/flags/uz.png");}
#country-va:before{content: url("chrome://anonymox/skin/flags/va.png");}
#country-vc:before{content: url("chrome://anonymox/skin/flags/vc.png");}
#country-ve:before{content: url("chrome://anonymox/skin/flags/ve.png");}
#country-vg:before{content: url("chrome://anonymox/skin/flags/vg.png");}
#country-vi:before{content: url("chrome://anonymox/skin/flags/vi.png");}
#country-vn:before{content: url("chrome://anonymox/skin/flags/vn.png");}
#country-vu:before{content: url("chrome://anonymox/skin/flags/vu.png");}
#country-wf:before{content: url("chrome://anonymox/skin/flags/wf.png");}
#country-wo:before{content: url("chrome://anonymox/skin/flags/wo.png");}
#country-ws:before{content: url("chrome://anonymox/skin/flags/ws.png");}
#country-ye:before{content: url("chrome://anonymox/skin/flags/ye.png");}
#country-yt:before{content: url("chrome://anonymox/skin/flags/yt.png");}
#country-za:before{content: url("chrome://anonymox/skin/flags/za.png");}
#country-zm:before{content: url("chrome://anonymox/skin/flags/zm.png");}
#country-zw:before{content: url("chrome://anonymox/skin/flags/zw.png");}
