/*
Css files that are used globally in content
 */
.centered{
    text-align: center;
}
textarea{
    resize:none;
}

/*
hidden elements that are shown by dart files when needed
 */
 .hide{
    display: none;
}
/*
error message panel start
 */
.event-log-scroll{
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.result-body{
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
/*
images in tables, mostly profile pictures
 */
.result-body img{
    width: 80px;
}
/*
global content holder improvements for content DIVs
 */
.content{
    padding-top: 25px;
    padding-bottom: 25px;
}

.content>.card{
    margin-bottom: 20px;
}

/* scrollbar improvements */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    /*
    no shadow
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
    */
    background: #00000000;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(78, 78, 78, 0.91);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(78, 78, 78, 0.80);
}

/*
scrollbar improvements end
 */

/*
Material switch start
 */
 .material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    top: 2px;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    /*transition: all 0.4s ease-in-out;*/
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    /*transition: all 0.3s ease-in-out;*/
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.default-color,.label-success {
    background-color: #2BBBAD!important;
}
/*
material switch end
 */
 /*
modal dialog width change
 */

@media (min-width: 576px){
    .modal-dialog {
        max-width: 700px;
    }
}
/*
Increasing width of toast container div
 */
#toast-container > div,.toast-container > div{
    width: 400px!important;
}
body{
    background: #dddddd;
}
/*
for changing padding for result card
 */
.result_card .card-body{
    padding: 0.25rem!important;
}
/*
for changing padding for event log card
 */
.event_log_card .card-body{
    padding: 0.25rem!important;
}
.card-header{
    text-align: left!important;
}

/*
place where content logger appends it's elements
 */
div#content-logger-append * {
    margin-right: 10px;
}
#delay-container{
    margin-bottom: 20px;
}